.admin-title {
  margin-left: 39%;
}

.admin-list {
  margin: auto;
}

.admin-list-item {
  text-align: left;
  padding: 5px 10px;
}

.admin-action {
  text-align: center;
}

.admin-btn {
  width: 100px;
  margin-top: 10px;
}