// Place all the styles related to the public/addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.address-list {
  margin-left: 20%;

  &__registration {
    margin-left: 5%;

    &--item {
      padding: 10px;
      text-align: left;
    }

    &--address-form {
      width: 300px;
    }
  }

  &__list {
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;

    &--postal_code {
      width: 10%;
      background-color: #eee;
    }

    &--address {
      width: 30%;
      background-color: #eee;
    }

    &--name {
      width: 10%;
      background-color: #eee;
    }
  }

  &__btn {
    border: 1px solid;
    border-radius: 5px;
    padding: 4px 10px;
    background-color: #eee;
    color: #000;
    text-decoration: none;
  }

  &__action {
    margin-left: 20%;
    margin-top: 10px;
  }
}



.address-edit {
  margin-left: 20%;

  &__edit {
    margin-left: 5%;

    &--item {
      padding: 10px;
      text-align: left;
    }

    &--address-form {
      width: 300px;
    }
  }

  &__action {
    margin-left: 20%;
    margin-top: 10px;
  }
}