// Place all the styles related to the public/cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart_item-list {
  margin: auto;

  &__item-image {
    width: 100px;
    height: 100px;
    pbject-fit: cover;
  }

  &__name {
    width: 500px;
    background-color: #eee;
    border: 1px solid;

    &--content {
      border: 1px solid;
    }
  }

  &__size, &__price, &__action {
    width: 120px;
    background-color: #eee;
    border: 1px solid;

    &--content {
      border: 1px solid;
    }
  }
}

.cart_item-price {
  margin-left: 10%;
  margin-top: 50px;
  display: flex;

  &__content {
    width: 120px;
    border: 1px solid;
    background-color: #eee;

    &--item {
      border: 1px solid;
      width: 100px;
      text-align: center;
    }
  }
}

.cart_item__action {
  margin-top: 25px;
  margin-left: 50px;

  &--btn {
    border: 1px solid;
    border-radius: 5px;
    padding: 4px 10px;
    background-color: #eee;
    color: #000;
    text-decoration: none;
  }
}