// Place all the styles related to the public/favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.favorite-list {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;

  &__item-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }

  &__content {
    margin: 50px;

    &--image {
      margin: 0 30px 10px 40px;
    }

    &--item {
      text-align: center;
      margin: 10px;
    }
  }
}

.favorite-btn {
  border: 1px solid;
  border-radius: 5px;
  padding: 4px;
  background-color: #eee;
  color: #000;
  text-decoration: none;
}

.favorite-coment {
  text-align: center;
  margin-top: 50px;
  font-size: 25px;
}