// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top_page {
  display: flex;
  flex-wrap: wrap;

  &--list {
    margin: 40px 80px;
    font-size: 20px;
  }
}



.about {
  margin-top: 100px;
  margin-left: 25%;

  &__text {
    font-size: 20px;
  }
}
