// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tp-item {
  display: flex;
  flex-wrap: wrap;
}

.tp-item-list {
  margin: 80px;
  font-size: 20px;
}

.about {
  margin-top: 100px;
  margin-left: 25%;
}

.about-content {
  font-size: 20px;
}