// Place all the styles related to the public/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product_details {
  display: flex;
  margin: auto;

  &__item-image {
    width: 500px;
    height: 450px;
    object-fit: cover;
  }

  &__mini-item-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  &__content {
    margin: 20px;
    font-size: 20px;

    &--icon {
      font-size: 15px;
    }
  }
}
