// Place all the styles related to the public/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product_details {
  display: flex;
  margin: auto;
}

.product_details-content {
  margin: 20px;
}