// Place all the styles related to the public/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2, h3, th {
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

.order-new {
  display: flex;

  &__content {
    margin: 0 30px;
  }

  &__order-method {
    margin: 20px 0 20px 40px;
  }

  &__address-list {
    margin-left: 40px;
  }

  &__address {
    margin: 10px;

    &--content {
      margin: 0 20px;
    }

    &--new {
      text-align: left;
      padding-right: 10px;
    }
  }

  &__action {
    text-align: center;
    margin-top: 20px;
  }

  &__address-form {
    width: 300px;
  }
}




.order-confirm {
  display: flex;
  padding-top: 70px;

  &__order {
    margin: 0 100px;

    &--name {
      width: 500px;
      height: 50px;
      text-align: left;
      background-color: #eee;
      border: 1px solid;
    }

    &--size, &--price {
      width: 100px;
      height: 50px;
      text-align: left;
      background-color: #eee;
      border: 1px solid;
    }

    &--name-content, &--size-content, &--price-content {
      height: 50px;
      border: 1px solid;
    }
  }

  &__payment {
    width: 100px;
    text-align: left;
    background-color: #eee;
    height: 50px;
    border: 1px solid;

    &--content {
      width: 100px;
      text-align: left;
      height: 50px;
      border: 1px solid;
    }
  }

  &__payment_method {
    width: 400px;
    padding: 0 100px;
  }

   &__address {
     width: 800px;
     padding: 0 100px;
   }

  &__action {
    margin-top: 50px;
    text-align: center;
  }
}



.order-complete {
  text-align: center;
  margin-top: 50px;
}






.order_histry {
  margin: auto;

  &__date, &__price, &__status, &__details {
    width: 150px;
    height: 50px;
    background-color: #eee;
    border: 1px solid;
  }

   &__item {
    width: 500px;
    height: 50px;
    background-color: #eee;
    border: 1px solid;
   }

   &__content {
     border: 1px solid;
   }
}




.order_details {
  display: flex;
  flex-wrap: wrap;

  &__order_details {
    padding: 0 50px;
    width: 60%;

    &--item {
      width: 35%;
      height: 50px;
      background-color: #eee;
      border: 1px solid;
    }

    &--size, &--price {
      width: 15%;
      height: 50px;
      background-color: #eee;
      border: 1px solid;
    }

    &--content {
      border: 1px solid;
      padding-left: 5px;
    }
  }

  &__billing_information {
    padding: 0 50px;
    width: 30%;

    &--item {
      width: 10%;
      height: 50px;
      background-color: #eee;
      border: 1px solid;
    }

    &--item-content {
      width: 10%;
      border: 1px solid;
      padding-left: 5px;
    }
  }

  &__order_information {
    padding: 0 50px;
    width: 50%;

    &--item {
      width: 15%;
      height: 50px;
      background-color: #eee;
      border: 1px solid;
    }

    &--item-content {
      width: 25%;
      border: 1px solid;
      padding-left: 5px;
    }
  }
}

