// Place all the styles related to the public/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2, h3, th {
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

.order-new {
  margin-top: 50px;
  display: flex;
}

.order-method {
  margin-left: 50px;
  margin-right: 50px;
}

.order-address-list {
  display: flex;
  margin-left: 40px;
}

.order-method-item {
  margin: 20px 0 20px 40px;
}

.order-address-item {
  margin-right: 150px;
}

.order-address-content {
  margin: 0 20px;
}

.order-address-new {
  text-align: left;
  padding-right: 10px;
}

.order-action {
  text-align: center;
  margin-top: 20px;
}

.address-form {
  width: 300px;
}



.order-confirm {
  display: flex;
  padding-top: 70px;
}

.order-item {
  width: 70%;
}

.order-payment-list {
  width: 30%;
}

.order-item, .order-payment-list {
  padding: 0 50px;
}

.item-name {
  width: 25%;
}

.item-size, .item-price {
  width: 15%;
}

.item-name, .item-size, .item-price, .payment-title {
  text-align: left;
  background-color: #eee;
}

.order-item-name, .order-item-size, .order-item-price, .payment-title, .order-payment {
  height: 50px;
  border-bottom: 1px solid #eee;
}

.payment-title, .order-payment {
  width: 10%;
}

.confirm-payment_method, .confirm-address {
  padding: 0 100px;
}

.order-confirm-action {
  margin-top: 20px;
  text-align: center;
}



.order-complete {
  text-align: center;
  margin-top: 100px;
}