<div class="tp-item-list">
  <% @items.each do |item| %>
    <div class="tp-item-text">
      <%= link_to item_path(item.id) do %>
        <div><%= attachment_image_tag item, :image, size: "550x500",　format: 'jpeg' %></div>
        <div><%= item.name %></div>
        <div>
          <% if item.order_details.present? %>
            Sold Out!!
          <% else %>
            <%= item.price %>円
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
