// Place all the styles related to the admin/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.customer-list {
  margin: auto;

  &__item {
    width: 10%;
    height: 50px;
    background-color: #eee;
  }

  &__content {
    height: 45px;
    border-bottom: 1px solid;
    text-align: center;

    &--font-green {
      color: #0b0;
    }

    &--font-gray {
      color: #aaa;
    }
  }
}



.customer-details {
  margin-left: 25%;

  &__list {
    margin-left: 15px;
  }

  &__list--item {
    text-align: left;
    width: 130px;
    height: 40px;
    background-color: #eee;
    border: 1px solid;
  }

  &__list--content {
    width: 600px;
    padding-left: 10px;
    border: 1px solid;
  }

  &__action {
    display: flex;
  }

  &__action--item {
    padding: 20px 50px;
  }

  &__action--btn {
    border: 1px solid;
    border-radius: 5px;
    padding: 4px 10px;
    background-color: #eee;
    color: #000;
    text-decoration: none;
  }
}


.customer-edit {
  margin-left: 25%;

  &__list {
    margin-left: 15px;
  }

  &__list--item {
    height: 40px;
    text-align: left;
  }

  &__list--content {
    padding-left: 15px;
  }

  &__list--entry-field {
    width: 310px;
  }

  &__action {
    margin-left: 15%;
  }

  &__action--item {
    padding: 0 25px;
  }
}