// Place all the styles related to the admin/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order-list {
  margin: auto;

  &__item {
    width: 250px;
    height: 50px;
    background-color: #eee;
  }

  &__content {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
  }
}
