// Place all the styles related to the admin/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-list {
  margin: 0 50px;

  &__item {
    display: flex;
    flex-wrap: wrap;

    &--content {
      margin: 40px;
    }

    &--content-image {
      height: 300px;
      width: 350px;
      object-fit: cover;
    }
  }
}



.item-details {
  margin: auto;
  display: flex;

  &__item-image {
    height: 400px;
    width: 450px;
    object-fit: cover;
  }

  &__mini-item-image {
    height: 150px;
    width: 150px;
    object-fit: cover;
  }

  &__item {
    list-style: none;

    &--content {
      font-size: 20px;
      margin: 20px 0;
    }
  }
}



.item-edit {
  margin: auto;

  &__item {
    width: 100px;
    height: 50px;
    text-align: left;
    vertical-align: top;

    &--content {
      vertical-align: top;
    }

    &--name-form {
      width: 300px;
    }

    &--size-form {
      width: 50px;
    }

    &--price-form {
      width: 70px;
    }

    &--introduction-form {
      width: 300px;
      height: 100px;
    }
  }

  &__action {
    margin: 0 150px;
  }
}



.new-item {
  margin: auto;

  &__item {
    width: 100px;
    height: 50px;
    text-align: left;
    vertical-align: top;

    &--content {
      vertical-align: top;
    }

    &--name-form {
      width: 300px;
    }

    &--introduction-form {
      width: 300px;
      height: 100px;
    }

    &--size-form {
      width: 50px;
    }

    &--price-form {
      width: 70px;
    }
  }

  &__action {
    margin: 0 150px;
  }
}