// Place all the styles related to the admin/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-list {
  margin: 0 50px;

  &__item {
    display: flex;
    flex-wrap: wrap;
  }

  &__item--content {
    margin: 40px;
  }
}


.item-detail {
  margin: auto;
  display: flex;

  &__item {
    list-style: none;
  }

  &__item--content {
    font-size: 20px;
    margin: 20px 0;
  }
}