// Place all the styles related to the admin/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-list {
  margin: 0 50px;

  &__item {
    display: flex;
    flex-wrap: wrap;
  }

  &__item--content {
    margin: 40px;
  }
}


.item-detail {
  margin: auto;
  display: flex;

  &__item {
    list-style: none;
  }

  &__item--content {
    font-size: 20px;
    margin: 20px 0;
  }
}


.item-edit {
  margin: auto;

  &__item {
    width: 200px;
    height: 50px;
  }

  &__item--name-form {
    width: 300px;
  }

  &__item--size-form {
    width: 50px;
  }

  &__item--price-form {
    width: 70px;
  }

  &__item--introduction-form {
    width: 300px;
    height: 100px;
  }

  &__action {
    list-style: none;
    display: flex;
  }

  &__action--content {
    margin: 0 150px;
  }
}