.sign_up {

  &__title {
    margin-left: 30%;
  }

  &__list {
    margin: auto;

    &--item {
      padding: 5px 10px 5px 5px;
      text-align: left;
    }
  }

  &__action {
    text-align: center;
    margin-right: 150px;

    &--btn {
      width: 100px;
    }
  }
}
