.login {

  &__title {
    margin-left: 35%;
  }

  &__list {
    margin: auto;

    &--item {
      text-align: left;
      padding: 10px 15px 10px 10px;
    }
  }

  &__action {
    text-align: center;

    &--btn {
      width: 100px;
    }
  }
}
